* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Malgun Gothic', sans-serif;
}

#card-section {
  border: 1px solid red;
  width: 100%;
  height: 0px auto;
  padding: 5rem 0;
}

#card-section::after {
  content: '';
  display: block;
  clear: left;
}

#card-section .card {
  margin-left: 5rem;
  position: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
  width: 100%;
  max-width: 20rem;
  height: 0px auto;
  border: 1px solid #e1e1e1;
  border-radius: .3rem;
  background-color: #f8f9fb;
}

#card-section .card .card-img {
  border-radius: .3rem;
  overflow: hidden;
}

#card-section .card .card-img img {
  width: auto;
  width: auto;
  max-width: 20rem;
  max-height: 20rem;
}

#card-section .card-text {
  padding: 1rem;
  border-bottom: 1px solid #e1e1e1;
}

#card-section .card-text > p:nth-child(1) {
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  color: #a7aaaa;
}

#card-section .card-text > p:nth-child(2) {
  font-weight: 500;
  font-size: 1.6rem;
  padding-bottom: 2.5rem;
  color: #656566;
}

#card-section .card-text > p:nth-child(3) > span:nth-child(1) {
  font-weight: 400;
  font-size: 1.6rem;
  color: #e3412f;
  padding-right: 1rem;
}

#card-section .card-text > p:nth-child(3) > span:nth-child(2) {
  font-weight: 400;
  font-size: 1.3rem;
  color: #a7aaaa;
  text-decoration: line-through;
}

#card-section .card .card-star {
  display: inline-block;
  width: 30px;
  height: 4rem;
  cursor: pointer;
}

#card-section .card .card-star_left {
  background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat 0 0;
  background-size: 4rem;
  margin-right: -.6rem;
}

#card-section .card .card-star.on {
  background-image: url(http://gahyun.wooga.kr/main/img/testImg/star_on.png);
}

#card-section .card .card-bottom-text {
  padding: 0 0 1rem 1rem;
}

#card-section .card .card-bottom-text p {
  font-size: 1.2rem;
  color: #848585;
}

#card-section .card:nth-child(2) .card-bottom-text {
  display: none;
}

#card-section .card:nth-child(3) .card-star {
  display: none;
}

#card-section .card:nth-child(3) .card-bottom-text {
  display: none;
}

#card-section .card-horizen {
  border: 1px solid #e1e1e1;
  border-radius: .3rem;
  background-color: #f8f9fb;
  float: left;
  position: relative;
  margin-left: 5rem;
  height: 15rem;
}

#card-section .card-horizen::after {
  content: '';
  display: block;
  clear: left;
}

#card-section .card-horizen .card-img {
  float: left;
}

#card-section .card-horizen .card-img img {
  width: auto;
  height: auto;
  max-width: 15rem;
  max-height: 15rem;
}

#card-section .card-horizen .card-horizen-box {
  padding: 2rem;
  float: left;
  width: 30rem;
}

#card-section .card-horizen .card-horizen-text > p:nth-child(1) {
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
  color: #454546;
}

#card-section .card-horizen .card-horizen-text > p:nth-child(2) {
  font-weight: 500;
  font-size: 1.3rem;
  color: #a7aaaa;
}

#card-section .card-horizen .card-horizen-star-box {
  padding-top: 1rem;
}

#card-section .card-horizen .card-horizen-star-box .card-horizen-star {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

#card-section .card-horizen .card-horizen-star-box .card-horizen-star_left {
  background-color: #d9d8d8;
  border-radius: 5rem;
  margin-right: .3rem;
}

#card-section .card-horizen .card-horizen-star-box .card-horizen-star.on {
  background-color: #f7c63f;
}

#inputbox-section {
  position: relative;
  border: 1px solid blue;
  width: 100%;
  height: 0 auto;
  padding: 5rem 0;
}

#inputbox-section div {
  height: 0 auto;
}

#inputbox-section div textarea {
  border: 2px solid #dedede;
  border-radius: .3rem;
  resize: none;
  padding: .5rem;
}

#inputbox-section div button {
  position: relative;
  width: 7.9rem;
  height: 7.9rem;
  border: 2px solid #eeeeee;
  color: #87cdd2;
  border-radius: .3rem;
  margin-left: .5rem;
  bottom: 3.4rem;
  cursor: pointer;
}
