//Nesting 사전적의미: 둥지 <--어떤것을 포함한다.
//
html {
    font-size: 18px; 
  }
  
  body {
    margin: 20px;
    background-color: #fff4ef;
  }
  
  div {
    color: #333;
    padding: 20px;
  }
  
  a {
    display: inline-block;
    margin: 10px 0;
  }
  

  // 아래와같이 box1 div태그안에 a태그를 선택해서 css를 적용하고싶을때
  //box1 css 중괄호안에 a태그를 포함하여 css를 설정하는것을 Nesting이라고한다.
  #box1 {
    font-size: 40px;
    background-color: #ffcccc;
    //아래의 코드는 중복되기 때문에 합쳐준다.    
    // border-radius: 20px;
    // border: 3px solid #f00;
    // box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

    &:hover{
      background-color: #ccc;
    }

    &, &-title{
      border-radius: 20px;
      border: 3px solid #f00;
      box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
    }
    
    // 아래의 태그 설정은 #box1-title과 같다.
    &-title{
      font-style: italic;
      text-decoration: underline;
    }

    // 여기서 &는 자기 자신을 의미하게된다.
    & > a {
      color: #a22;
      text-decoration: none;

      // 아래의 코드를 직접 a태그에 넣어준다.
      &:hover{
        color:#000;
        text-decoration: underline;
      }

    // 아래처럼 nesting하게되면 box1의 모든 a태그에 아래 css가 적용되게된다. box1 a
    // a {
    //   color: #a22;
    //   text-decoration: none;
    // }
    }

    //아래의 a태그 호버를 nesting된 hover안에 넣어줄수 있는데, 위와같이 넣는다.
    // & > a:hover {
    //   color: #000;
    //   text-decoration: underline;
    // }
  }
  
//  box1 > a처럼 >꺽쇠를 넣으면 box1에 있는 가까운 a만 지칭하게되지만, 
// >를 삭제하고 box1 a 라고하게되면 box1에있는 모든 a를 지칭하게된다.
  // box1 > a {
  //   color: #a22;
  //   text-decoration: none;
  // }
    
  // #box1 > a:hover {
  //   color: #000;
  //   text-decoration: underline;
  // }
  
  // #box1:hover {
  //   background-color: #ccc;
  // }
  
  #box1 #box2 {
    font-size: 20px;
    background-color: #e9e9e9;
    
    border-radius: 20px;
    border: 3px solid #f00;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

    & > a {
      color: #ee6633;
      text-decoration: none;

      &:hover {
        color: #a22;
        text-decoration: underline;
      }
    }
  }
  
  // #box1 #box2 > a {
  //   color: #ee6633;
  //   text-decoration: none;
  // }
  
  // #box1 #box2 > a:hover {
  //   color: #a22;
  //   text-decoration: underline;
  // }


  //클래스로 보자면 css관계도를 설정할때 box3를 기준으로하자면 아래와같이 3가지 방법이있다.

  //이런식으로하면 일반적으로 하는경우
  .box1 .box2 .box3{

  }

  //이렇게 해도되고
  .box1{
    .box2 .box3{

    }
  }

  //Nesting을 사용한다면
  .box1{
    .box2{
      .box3{
        
      }
    }
  }
